{% extends "base.html" %}
{#{% import "_macros.html" as macros %}#}

{% block active1 %}
    class="active"
{% endblock %}

{% block page_content %}
    <div class="col-xs-12">
        <img src="static/images/logo.jpg" class="col-xs-12">
    </div>
    <div class="col-xs-12">
        <div class="col-xs-12">
            <br><br>
            <div class="input-group col-md-4 col-md-offset-8">
                <input type="text" class="form-control" placeholder="请输入查找内容,例如 name@163.com"/>
                <span class="input-group-btn">
                    <a href="#"><button class="btn btn-primary btn-search"><span
                            class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;find</button></a>
                </span>
            </div>
            <hr>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-12">
            <br><br>
            <div class="col-xs-4 bg-primary">
                <h3 class="col-md-2 col-md-offset-4">SMTP</h3>
            </div>
            <div class="col-xs-4 bg-primary">
                <h3 class="col-md-2 col-md-offset-4">WECHAT</h3>
            </div>
            <div class="col-xs-4 bg-primary">
                <h3 class="col-md-2 col-md-offset-4">SMS</h3>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <br><br>
                    <a href="#" class="thumbnail">
                        <img src="static/images/drink.jpg"
                             alt="通用的占位符缩略图">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <br><br>
                    <a href="#" class="thumbnail">
                        <img src="static/images/drink.jpg"
                             alt="通用的占位符缩略图">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <br><br>
                    <a href="#" class="thumbnail">
                        <img src="static/images/drink.jpg"
                             alt="通用的占位符缩略图">
                    </a>
                </div>
            </div>
            <br><br>
            <a href="#">
                <h3>What is iMESSAGE?
                    <small>it is imessage!!!</small>
                </h3>
            </a><br>
            <div class="col-xs-12 bg-warning">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前，大多数Web应用已经或准备构建的安全防护体系都包括了网络层、应用层层层防护，通过在各个层面部署专业的安全产品来保障Web应用的安全已经成为一种共识，但是是否单纯通过在各个层面堆砌产品就能完全保障Web应用的安全呢？实际上，近年发生的很多网站被黑案例告诉我们，由于产品本身的各种局限性（功能、部署等），单纯的产品只能实现有限的防护。黑客仍然可能突破层层防护攻陷Web应用。
                </p>
            </div>
            <br><br><br><br>
            <a href="#">
                <h3>Why Not Use It?
                </h3>
            </a><br>
            <div class="col-xs-12 bg-info">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前，大多数Web应用已经或准备构建的安全防护体系都包括了网络层、应用层层层防护，通过在各个层面部署专业的安全产品来保障Web应用的安全已经成为一种共识，但是是否单纯通过在各个层面堆砌产品就能完全保障Web应用的安全呢？实际上，近年发生的很多网站被黑案例告诉我们，由于产品本身的各种局限性（功能、部署等），单纯的产品只能实现有限的防护。黑客仍然可能突破层层防护攻陷Web应用。
                </p>
            </div>
            <br><br><br><br>
            <a href="#">
                <h3>Do You Know About Me?
                </h3>
            </a><br>
            <div class="col-xs-12 bg-success">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前，大多数Web应用已经或准备构建的安全防护体系都包括了网络层、应用层层层防护，通过在各个层面部署专业的安全产品来保障Web应用的安全已经成为一种共识，但是是否单纯通过在各个层面堆砌产品就能完全保障Web应用的安全呢？实际上，近年发生的很多网站被黑案例告诉我们，由于产品本身的各种局限性（功能、部署等），单纯的产品只能实现有限的防护。黑客仍然可能突破层层防护攻陷Web应用。
                </p>
            </div>
            <br><br><br><br>
            <a href="#">
                <h3>We Can Send SMTP Messages!!!
                </h3>
            </a><br>
            <div class="col-xs-12 bg-danger">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前，大多数Web应用已经或准备构建的安全防护体系都包括了网络层、应用层层层防护，通过在各个层面部署专业的安全产品来保障Web应用的安全已经成为一种共识，但是是否单纯通过在各个层面堆砌产品就能完全保障Web应用的安全呢？实际上，近年发生的很多网站被黑案例告诉我们，由于产品本身的各种局限性（功能、部署等），单纯的产品只能实现有限的防护。黑客仍然可能突破层层防护攻陷Web应用。
                </p>
            </div>
            <br><br><br><br>
            <a href="#">
                <h3>We Can Send WECHAT Messages!!!
                </h3>
            </a><br>
            <div class="col-xs-12 bg-warning">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前，大多数Web应用已经或准备构建的安全防护体系都包括了网络层、应用层层层防护，通过在各个层面部署专业的安全产品来保障Web应用的安全已经成为一种共识，但是是否单纯通过在各个层面堆砌产品就能完全保障Web应用的安全呢？实际上，近年发生的很多网站被黑案例告诉我们，由于产品本身的各种局限性（功能、部署等），单纯的产品只能实现有限的防护。黑客仍然可能突破层层防护攻陷Web应用。
                </p>
            </div>
            <br><br><br><br>
            <a href="#">
                <h3>We Can Send SMS Messages!!!
                </h3>
            </a><br>
            <div class="col-xs-12 bg-info">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前，大多数Web应用已经或准备构建的安全防护体系都包括了网络层、应用层层层防护，通过在各个层面部署专业的安全产品来保障Web应用的安全已经成为一种共识，但是是否单纯通过在各个层面堆砌产品就能完全保障Web应用的安全呢？实际上，近年发生的很多网站被黑案例告诉我们，由于产品本身的各种局限性（功能、部署等），单纯的产品只能实现有限的防护。黑客仍然可能突破层层防护攻陷Web应用。
                </p>
            </div>
            <br><br><br><br><br><br><br>
            <div class="pull-right">
                <a href="http://www.tcxa.com.cn"><p class="">联系我们</p></a>
                <a href="http://www.tcxa.com.cn"><p>电话：010-666666666</p>
                </a>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
        </div>
    </div>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">开始演示模态框</button>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
                </div>
                <div class="modal-body">在这里添加一些文本</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary"><a href="http://www.tcxa.com.cn">提交更改</a></button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
{% endblock %}