{% extends "base.html" %}
{#{% import "_macros.html" as macros %}#}

{% block active1 %}
    class="active"
{% endblock %}

{% block page_content %}
    <div class="col-xs-12">
        <img src="static/images/logo.JPG" class="col-xs-12">
    </div>
    <div class="col-xs-12">
        <div class="col-xs-12">
            <br><br>
            <div class="input-group col-md-4 col-md-offset-8">
                <input type="text" class="form-control" placeholder="请输入查找内容,例如 name@163.com"/>
                <span class="input-group-btn">
                    <a href="#"><button class="btn btn-primary btn-search"><span
                            class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;find</button></a>
                </span>
            </div>
            <hr>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-12">
            <br><br>
            <div class="col-xs-4 bg-primary">
                <h3 class="col-md-2 col-md-offset-4">SMTP</h3>
            </div>
            <div class="col-xs-4 bg-primary">
                <h3 class="col-md-2 col-md-offset-4">WECHAT</h3>
            </div>
            <div class="col-xs-4 bg-primary">
                <h3 class="col-md-2 col-md-offset-4">SMS</h3>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <br><br>
                    <a href="#" class="thumbnail">
                        <img src="static/images/smtp.jpg"
                             alt="通用的占位符缩略图">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <br><br>
                    <a href="#" class="thumbnail">
                        <img src="static/images/smtp.jpg"
                             alt="通用的占位符缩略图">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <br><br>
                    <a href="#" class="thumbnail">
                        <img src="static/images/smtp.jpg"
                             alt="通用的占位符缩略图">
                    </a>
                </div>
            </div>
            <br><br>
        </div>
    </div>
{% endblock %}
